/*===============================================================
Home page styles
=================================================================*/
.carousel-caption {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-caption h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.carousel-caption h2 {
    color: white;
    margin: 10px 0 0 0;
    font-size: 20px;
    text-shadow: 3px 3px 3px black;
}

.carousel-caption .btn-resell {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding: 10px 40px;
    margin-top: 30px;
    border-radius: 10px;
    border: 2px solid var(--pink);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.carousel-caption .btn-resell:hover {
    -webkit-transform: scale(1.1);
    border-color: white;
}

.carousel-item {
    position: relative;
}

.carousel-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-item img {
    height: 75vh;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 40px;
    }

    .carousel-caption h2 {
        font-size: 18px;
    }

    .carousel-caption .btn-resell {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .carousel-caption h1 {
        font-size: 30px;
    }

    .carousel-caption h2 {
        font-size: 16px;
    }

    .carousel-caption .btn-resell {
        font-size: 14px;
    }
}

/* Home Paket Usaha styles */
.paket {
    color: var(--pink);
}

.paket span {
    font-size: 30px;
    font-weight: 600;
}

.paket .hr-paket {
    border-width: 2px;
}

.paket .info-area h4 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.paket .info-area h6 {
    font-size: 15px;
}

.paket .single-box {
    color: black;
    margin: 5px 5px;
    border-radius: 15px;
    /* border: 2px solid var(--pink); */
    background-color: white;
}

.paket .single-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 13px 13px 0 0;
}

.paket .btn-resell {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 10px;
    border: 2px solid var(--pink);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.paket .btn-resell:hover {
    -webkit-transform: scale(1.1);
    color: var(--pink);
    border-color: var(--pink);
    background: white;
}

/* Owl Carousel dots styles */
.paket .owl-dots {
    text-align: center;
    margin-top: 5px;
}

.paket .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--pink);
    display: inline-block;
    background: white;
    margin: 0 3px;
}

.paket .owl-dots button.owl-dot.active {
    background-color: var(--pink);
}

.paket .owl-dots button.owl-dot:focus {
    outline: none;
}