/*===============================================================
Paket Usaha page styles
=================================================================*/
.paket-usaha {
    color: var(--pink);
}

.paket-usaha .hr-paket {
    border-width: 2px;
}

.paket-usaha .card .card-body .card-text {
    color: black;
}

.paket-usaha .card .card-body h4 {
    font-size: 18px;
    font-weight: 600;
}

.paket-usaha .card .card-body h6 {
    font-size: 15px;
}

.paket-usaha .row {
    margin-top: 10px;
    margin-bottom: 50px;
}


.paket-usaha .konten {
    text-decoration: none;
}

.paket-usaha .card {
    box-shadow: 0px 0px 4px #c7c7c7;
    text-align: start;
    border-radius: 3px;
    border: 0;
}

.paket-usaha .card:hover {
    border: 2px solid #CE3ABD;
}

.paket-usaha .card img {
    border-radius: 3px 3px 0 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.paket-usaha .card h4 {
    font-weight: 1px;
}

.paket-usaha .card .kategori {
    color: #B500A0;
    background-color: #ce3abd5e;
    text-align: center;
    border-radius: 10px;
}

.paket-usaha .card .jenis {
    color: #B500A0;
}

.paket-usaha .btn-resell {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 10px;
    border: 2px solid var(--pink);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.paket-usaha .btn-resell:hover {
    -webkit-transform: scale(1.1);
    color: var(--pink);
    border-color: var(--pink);
    background: white;
}

/* Side Panel Paket */
.side-panel-paket {
    margin-top: 40px;
}

.side-panel-paket h1 {
    font-size: 30px;
    font-weight: 700;
}

.side-panel-paket li {
    margin-top: 5px;
}

.side-panel-paket .form-control::placeholder {
    color: var(--light-bg);
}

.side-panel-paket .form-control {
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--pink);
}

.side-panel-paket .form-control:hover {
    border-color: var(--pink);
}

.side-panel-paket .form-control:focus,
.form-control.active {
    border-color: var(--pink);
    box-shadow: 0 0 0 0.2rem rgba(206, 58, 189, 0.5);
}

.side-panel-paket .search-button {
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid var(--pink);
    color: var(--pink);
    transition: all 0.25s ease-in-out;
}

.side-panel-paket .search-button:hover {
    background-color: var(--pink);
    color: white;
}

.side-panel-paket .kategori a {
    color: var(--pink);
    font-weight: 600;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}

.side-panel-paket .kategori a:hover {
    text-decoration: none;
    -webkit-transform: scale(1.1);
    color: #B500A0;
}

.side-panel-paket .urutkan label {
    font-weight: 600;
}

.side-panel-paket .urutkan .form-check-input:checked {
    background-color: var(--pink);
    border-color: var(--pink);
}

.side-panel-paket .urutkan li,
.form-check-input:hover,
.form-check-label:hover {
    cursor: pointer;
}

.side-panel-paket .urutkan .form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(206, 58, 189, 0.5);
}

.side-panel-paket input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"%3E%3Cpath fill="%23CE3ABD" d="M229.9 256L346 139.9c7.8-7.8 7.8-20.5 0-28.3l-28.3-28.3c-7.8-7.8-20.5-7.8-28.3 0L176 199.9 59.9 83.8c-7.8-7.8-20.5-7.8-28.3 0L3.3 112.1c-7.8 7.8-7.8 20.5 0 28.3L120.1 256 3.3 372.1c-7.8 7.8-7.8 20.5 0 28.3l28.3 28.3c7.8 7.8 20.5 7.8 28.3 0L176 312.1l116.1 116.1c7.8 7.8 20.5 7.8 28.3 0l28.3-28.3c7.8-7.8 7.8-20.5 0-28.3L229.9 256z"%3E%3C/path%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
}
