/*===============================================================
Profile styles
=================================================================*/
.profile {
    color: var(--pink);
}

.profile .hr-profile {
    border-width: 2px;
}

.profile .card .card-body h4 {
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.profile .card .card-body p {
    color: var(--pink);
    text-align: left;
}

.profile .row {
    margin-bottom: 18px;
}

.profile .card {
    border: none;
}

.profile .card img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.profile .title {
    color: black;
}

.profile .price {
    color: var(--pink);
}

.profile .btn-profile {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 5px;
    border: 2px solid var(--pink);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.profile .btn-profile:hover {
    color: var(--pink);
    border-color: var(--pink);
    background: white;
}