@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pink: #CE3ABD;
    --light-bg: #d5d5d5;
}

body {
    font-family: 'Urbanist', sans-serif;
    background-color: #f5f5f5;
}

svg .logo-pink text {
    fill: #CE3ABD;
    font-weight: bold;
}

svg .logo-pink path {
    fill: url(#pink-logo);
}

svg .logo-white text {
    fill: white;
    font-weight: bold;
}

svg .logo-white path {
    fill: white;
}

/* Header styles */
.header {
    color: var(--pink);
}

.header svg {
    height: 50px;
}

.header svg text {
    font-size: 210px;
}

.header .hr-header {
    border-width: 2px;
}

.btn-notif {
    border: 1px solid #CE3ABD;
    background-color: #fff;
    color: #B500A0;
}

.btn-notif:hover {
    background-color: #CE3ABD;
    color: #fff;
}

/* Navigation styles */
.navbar-toggler {
    border: 2px solid var(--pink);
}

.navbar-toggler i {
    color: var(--pink);
}

.navbar .navbar-toggler:focus,
.navbar-toggler.active {
    border-color: var(--pink);
    box-shadow: 0 0 0 0.2rem rgba(206, 58, 189, 0.5);
}

.navbar-nav .dropdown-item {
    color: var(--pink);
    font-weight: 600;
}

.navbar-nav .dropdown-item:hover {
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.navbar-nav .nav-link {
    color: var(--pink);
    font-weight: 600;
    transition: color 0.5s ease;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 5px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white;
}

.navbar-nav .nav-link .username {
    font-size: 30px;
    vertical-align: middle;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: left;
}

@media (max-width: 991px) {
    .nav-item {
        margin-bottom: 5px;
    }

    .navbar-nav {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .nav-item {
        margin-bottom: 5px;
    }

    .navbar-nav {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .nav-item {
        margin-bottom: 5px;

    }

    .navbar-nav {
        margin-top: 10px;
    }
}

/* Footer styles */
.footer {
    color: white;
    font-size: 16px;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.footer svg {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
}

.footer svg text {
    font-size: 210px;
}

.footer .footer-top .footer-contact {
    font-size: 20px;
}

.footer .footer-top .footer-contact p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
}

.footer .footer-top .footer-contact span {
    font-size: 20px;
    font-weight: 500;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    color: white;
    transition: 0.3s;
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    text-decoration: none;
}

.footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    -webkit-transform: scale(1.1);
    color: var(--light-bg);
}

.footer .hr-bold-footer {
    border-width: 2px;
    color: white;
}

.footer .copyright p {
    font-weight: 500;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer .social-links a {
    color: white;
    font-size: 25px;
    transition: 0.3s;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.footer .social-links a:hover {
    -webkit-transform: scale(1.1);
    color: var(--light-bg);
}

@media (max-width: 768px) {
    .footer .footer-top .footer-contact {
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .footer .copyright p {
        margin-bottom: 0;
    }

    .footer .social-links a {
        margin-top: 0;
        margin-bottom: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.autocomplete-items {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    color: #CE3ABD;
}

.autocomplete-items div {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.autocomplete-items div:last-child {
    border-bottom: none;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
