@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pink: #CE3ABD;
    --light-bg: #d5d5d5;
}

body {
    font-family: 'Urbanist', sans-serif;
    background-color: #f5f5f5;
}

svg .logo-pink text {
    fill: #CE3ABD;
    font-weight: bold;
}

svg .logo-pink path {
    fill: url(#pink-logo);
}

svg .logo-white text {
    fill: white;
    font-weight: bold;
}

svg .logo-white path {
    fill: white;
}

/* Header styles */
.header {
    color: var(--pink);
}

.header svg {
    height: 50px;
}

.header svg text {
    font-size: 210px;
}

.header .hr-header {
    border-width: 2px;
}

/* Navigation styles */
.navbar-toggler {
    border: 2px solid var(--pink);
}

.navbar-toggler i {
    color: var(--pink);
}

.navbar .navbar-toggler:focus,
.navbar-toggler.active {
    border-color: var(--pink);
    box-shadow: 0 0 0 0.2rem rgba(206, 58, 189, 0.5);
}

.navbar-nav .dropdown-item {
    color: var(--pink);
    font-weight: 600;
}

.navbar-nav .nav-link {
    color: var(--pink);
    font-weight: 600;
    transition: color 0.5s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #B500A0;
}

.navbar-nav .nav-link .username {
    font-size: 30px;
    vertical-align: middle;
}

.navbar-nav .nav-link i {
    color: var(--pink);
    transition: color 0.5s ease;
}

.navbar-nav .nav-link:hover i,
.navbar-nav .nav-link:focus i {
    color: #B500A0;
}

/* Footer styles */
.footer {
    color: white;
    font-size: 16px;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.footer svg {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
}

.footer svg text {
    font-size: 210px;
}

.footer .footer-top .footer-contact {
    font-size: 20px;
}

.footer .footer-top .footer-contact p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
}

.footer .footer-top .footer-contact span {
    font-size: 20px;
    font-weight: 500;
}

.footer .footer-top h4 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-top h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 2px;
    background: white;
    bottom: 5px;
    left: 0;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    color: white;
    transition: 0.3s;
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    text-decoration: none;
}

.footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    -webkit-transform: scale(1.1);
    color: var(--light-bg);
}

.footer .hr-bold-footer {
    border-width: 2px;
    color: white;
}

.footer .copyright p {
    font-weight: 500;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer .social-links a {
    color: white;
    font-size: 25px;
    transition: 0.3s;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.footer .social-links a:hover {
    -webkit-transform: scale(1.1);
    color: var(--light-bg);
}

@media (max-width: 768px) {
    .footer .footer-top .footer-contact {
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .footer .copyright p {
        margin-bottom: 0;
    }

    .footer .social-links a {
        margin-top: 0;
        margin-bottom: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

/*===============================================================
Home page styles
=================================================================*/
.carousel-caption {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-caption h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.carousel-caption h2 {
    color: white;
    margin: 10px 0 0 0;
    font-size: 20px;
    text-shadow: 3px 3px 3px black;
}

.carousel-caption .btn-resell {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding: 10px 40px;
    margin-top: 30px;
    border-radius: 10px;
    border: 2px solid var(--pink);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.carousel-caption .btn-resell:hover {
    -webkit-transform: scale(1.1);
    border-color: white;
}

.carousel-item {
    position: relative;
}

.carousel-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-item img {
    height: 75vh;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 40px;
    }

    .carousel-caption h2 {
        font-size: 18px;
    }

    .carousel-caption .btn-resell {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .carousel-caption h1 {
        font-size: 30px;
    }

    .carousel-caption h2 {
        font-size: 16px;
    }

    .carousel-caption .btn-resell {
        font-size: 14px;
    }
}

/* Home Paket Usaha styles */
.paket {
    color: var(--pink);
}

.paket span {
    font-size: 30px;
    font-weight: 600;
}

.paket .hr-paket {
    border-width: 2px;
}

.paket .info-area h4 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.paket .single-box {
    border-radius: 15px;
    border: 3px solid var(--pink);
}

.paket .single-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 13px 13px 0 0;
}

.paket .btn-resell {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 10px;
    border: 2px solid var(--pink);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.paket .btn-resell:hover {
    -webkit-transform: scale(1.1);
    color: var(--pink);
    border-color: var(--pink);
    background: white;
}

/* Owl Carousel dots styles */
.paket .owl-dots {
    text-align: center;
    margin-top: 5px;
}

.paket .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--pink);
    display: inline-block;
    background: white;
    margin: 0 3px;
}

.paket .owl-dots button.owl-dot.active {
    background-color: var(--pink);
}

.paket .owl-dots button.owl-dot:focus {
    outline: none;
}

/*===============================================================
Auth styles
=================================================================*/
/* Login styles */
.login svg {
    height: 150px;
    margin: 30px;
}

.login svg text {
    font-size: 280px;
}

.login .card {
    color: var(--pink);
    border: 3px solid var(--pink);
    border-radius: 20px;
}

.login .bg-title {
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
    border-radius: 17px 0 0 17px;
}

.login h2 {
    font-weight: 700;
}

.login .form-label {
    font-size: 18px;
    font-weight: 500;
}

.login .form-control {
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--pink);
}

.login .form-control:focus,
.form-control.active {
    border-color: var(--pink);
    box-shadow: 0 0 0 0.2rem rgba(206, 58, 189, 0.5);
}

.login .form-control::placeholder {
    color: var(--light-bg);
    font-style: italic;
}

.login .btn-login {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    padding: 5px 45px;
    border-radius: 10px;
    border: 2px solid var(--pink);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.login .btn-login:hover {
    -webkit-transform: scale(1.1);
    color: var(--pink);
    border-color: var(--pink);
    background: white;
}

.login p {
    font-size: 16px;
}

.login .btn-daftar {
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: var(--pink);
}

.login .btn-daftar:hover {
    -webkit-transform: scale(1.1);
    color: #B500A0;
}

@media (max-width: 768px) {
    .login .bg-title {
        color: white;
        background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
        border-radius: 17px 17px 0 0;
    }

    .login svg {
        height: 100px;
        margin: 45px;
    }
}

@media (max-width: 576px) {
    .login .bg-title {
        color: white;
        background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
        border-radius: 17px 17px 0 0;
    }

    .login svg {
        height: 75px;
        margin: 35px;
    }
}

/* Register Role styles */
.role svg {
    height: 150px;
    margin: 30px;
}

.role svg text {
    font-size: 280px;
}

.role .card {
    color: var(--pink);
    border: 3px solid var(--pink);
    border-radius: 20px;
}

.role .bg-title {
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
    border-radius: 17px 0 0 17px;
}

.role h2 {
    font-weight: 700;
    font-size: 25px;
}

.role .rad-label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 14px 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s;
}

.role .rad-label:hover,
.rad-label:focus-within {
    background: hsla(0, 0%, 80%, .14);
}

.role .rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.role .rad-design {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
    position: relative;
}

.role .rad-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: var(--light-bg);
    transform: scale(1.1);
    transition: .3s;
}

.role .rad-input:checked+.rad-design::before {
    transform: scale(0);
}

.role .rad-text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    font-size: 16px;
    font-weight: 500;
    transition: .3s;
}

.role .rad-input:checked~.rad-text {
    color: #CE3ABD;
}

.role .btn-role {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 10px;
    border: 2px solid var(--pink);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.role .btn-role:hover {
    -webkit-transform: scale(1.1);
    color: var(--pink);
    border-color: var(--pink);
    background: white;
}

.role p {
    font-size: 16px;
}

.role .btn-login {
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: var(--pink);
}

.role .btn-login:hover {
    -webkit-transform: scale(1.1);
    color: #B500A0;
}

@media (max-width: 768px) {
    .role .bg-title {
        color: white;
        background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
        border-radius: 17px 17px 0 0;
    }

    .role svg {
        height: 100px;
        margin: 45px;
    }
}

@media (max-width: 576px) {
    .role .bg-title {
        color: white;
        background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
        border-radius: 17px 17px 0 0;
    }

    .role svg {
        height: 75px;
        margin: 35px;
    }
}

/* Register styles */
.register svg {
    height: 150px;
    margin: 30px;
}

.register svg text {
    font-size: 280px;
}

.register .card {
    color: var(--pink);
    border: 3px solid var(--pink);
    border-radius: 20px;
}

.register .bg-title {
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
    border-radius: 17px 0 0 17px;
}

.register h2 {
    font-weight: 700;
}

.register .form-label {
    font-size: 18px;
    font-weight: 500;
}

.register .form-control {
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--pink);
}

.register .form-control:focus,
.form-control.active {
    border-color: var(--pink);
    box-shadow: 0 0 0 0.2rem rgba(206, 58, 189, 0.5);
}

.register .form-control::placeholder {
    color: var(--light-bg);
    font-style: italic;
}

.register .btn-back {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    padding: 5px 45px;
    border-radius: 10px;
    border: 2px solid var(--pink);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.register .btn-back:hover {
    -webkit-transform: scale(1.1);
    color: var(--pink);
    border-color: var(--pink);
    background: white;
}

.register .btn-register {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    padding: 5px 45px;
    border-radius: 10px;
    border: 2px solid var(--pink);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.register .btn-register:hover {
    -webkit-transform: scale(1.1);
    color: var(--pink);
    border-color: var(--pink);
    background: white;
}

.register p {
    font-size: 16px;
}

.register .btn-login {
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: var(--pink);
}

.register .btn-login:hover {
    -webkit-transform: scale(1.1);
    color: #B500A0;
}

@media (max-width: 768px) {
    .register .bg-title {
        color: white;
        background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
        border-radius: 17px 17px 0 0;
    }

    .register svg {
        height: 100px;
        margin: 45px;
    }
}

@media (max-width: 576px) {
    .register .bg-title {
        color: white;
        background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
        border-radius: 17px 17px 0 0;
    }

    .register svg {
        height: 75px;
        margin: 35px;
    }
}

/*===============================================================
Paket Usaha page styles
=================================================================*/
.paket-usaha {
    color: var(--pink);
}

.paket-usaha .hr-paket {
    border-width: 2px;
}

.paket-usaha .card .card-body h4 {
    color: var(--pink);
    font-size: 20px;
    font-weight: 700;
}

.paket-usaha .row {
    margin-top: 10px;
    margin-bottom: 50px;
}

.paket-usaha .card {
    text-align: center;
    border-radius: 10px;
    border: 3px solid var(--pink);
}

.paket-usaha .card img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.paket-usaha .btn-resell {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 10px;
    border: 2px solid var(--pink);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
    background: linear-gradient(to bottom left, #CE3ABD, #B500A0);
}

.paket-usaha .btn-resell:hover {
    -webkit-transform: scale(1.1);
    color: var(--pink);
    border-color: var(--pink);
    background: white;
}

/* Side Panel Paket */
.side-panel-paket {
    margin-top: 40px;
}

.side-panel-paket h1 {
    font-size: 30px;
    font-weight: 700;
}

.side-panel-paket li {
    margin-top: 5px;
}

.side-panel-paket .form-control::placeholder {
    color: var(--light-bg);
}

.side-panel-paket .form-control {
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--pink);
}

.side-panel-paket .form-control:hover {
    border-color: var(--pink);
}

.side-panel-paket .form-control:focus,
.form-control.active {
    border-color: var(--pink);
    box-shadow: 0 0 0 0.2rem rgba(206, 58, 189, 0.5);
}

.side-panel-paket .search-button {
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid var(--pink);
    color: var(--pink);
    transition: all 0.25s ease-in-out;
}

.side-panel-paket .search-button:hover {
    background-color: var(--pink);
    color: white;
}

.side-panel-paket .kategori a {
    color: var(--pink);
    font-weight: 600;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}

.side-panel-paket .kategori a:hover {
    text-decoration: none;
    -webkit-transform: scale(1.1);
    color: #B500A0;
}

.side-panel-paket .urutkan label {
    font-weight: 600;
}

.side-panel-paket .urutkan .form-check-input:checked {
    background-color: var(--pink);
    border-color: var(--pink);
}

.side-panel-paket .urutkan li,
.form-check-input:hover,
.form-check-label:hover {
    cursor: pointer;
}

.side-panel-paket .urutkan .form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(206, 58, 189, 0.5);
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}

#hapus-item:hover {
    cursor: pointer;
}

.text-purple{
    color: #CE3ABD;
}

#detail-item:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.detail-item {
    background-color: rgb(243, 243, 243);
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}